h1 {
  font-family: 'Jaldi';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 0;
}

table {
  max-width: 752px;
  font-size: 18px;
}

hr {
  margin: 20px 0;
}

.brands {
  margin-top: 20px;
  border: none;
  line-height: 24px;
  font-size: 20px;
}
